@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(137deg, white 0%, white 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left{
     
    background-color: #73CCDA;
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 20px 0px rgba(61, 61, 61, 0.808);
}

.main-right{
    justify-content: left;
    margin-right: 330px;
    display: flex;
    margin: 0 auto;
}

.main-left{
    margin-right: 30px;
    display: flex;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}  

h1 h2 h3{
    margin: 0;
    padding: 0;
}

.textcard-h1{
    font-size: 1vw;
    color: white;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
    font-size: x-large;
    
}

.textcard-h2{
    color: white;
    margin-top: 190px;
    font-weight: 8px;
    font-size: 8px;
    margin-bottom: 0;
}

.textcard-h3{
    color: white;
    margin: -50px;
    text-align: left;
}

.input-chave > label{
    margin-bottom: 15px;
    display: flex;
    position: relative;
    color: white;
    font-size: 15px;
}

.input-chave{
    position: relative;
}

.input-chave > input{
    margin-top: -15px;
    margin-bottom: 15px;
}

.btn01 > a {
    position: relative;
    border-radius: 5px;
    padding: 20px;
    left: 0px;
    position: relative;
    top: 50px;
    font-weight: bold;
    transition-duration: .5s;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer
    
}

.btn01 > a:hover{
    background-color: white;
    color: black;
}

.btn02 >a{
    position: relative;
    display: flex;
    margin: 30px;
    border-radius: 5px;
    padding: 20px;
    padding-left: 36px;
    padding-right: 36px;
    left: 0px;
    top: 50px;
    font-weight: bold;
    transition-duration: .5s;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
}

.btn02 > a:hover{
    background-color: white;
    color: black;
}

@media (max-width: 600px ){
    .main{
        flex-direction: column;

    }
    .main-left{
        width: 100vw;
        height: 100vh;
    }
    .main-right{
        display: none;
    }
}

@media (max-width: 950px ){
    .main{
        flex-direction: column;
        display: block;
    }
    .main-left{
        width: 100%;
        height: 100%;
    }
    .main-right{
        display: none;
    }
    .btn01 > a{
        padding: 2px;
    }
    .btn02 > a{
        padding: 5px;
    }
}

@media (max-width: 1024px ){

    .main-left {
        margin-right: 0px;
    }
    .textcard-h1{
        font-size: 2vw;
        color: white;
         font-weight: bold;
        margin-top: 0;
        text-align: left;
    }
    .btn01 > a{
        padding: 6px;
    }
    .btn02 > a{
        padding: 10px;
    }

}