
/*Div para ocutar a tabela*/
form{
    position: relative;
    width: 500px;
    margin: 30px auto;
    text-align: center;
}
  
form input{
    margin-bottom: 5px;
}
  
form input[type='button']{
    margin-right: 10px;
}

label{
  margin: 6px;
}
  
.contirner-form{
    position: relative;
    background: #9edfd3;
    height: 800px;
    width: 600px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.4);
  
}

.contirner-form-AreaMedica{
    position: relative;
    background: #9edfd3;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: inline-block;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    left: 0;
   right: 0;
   width: 600px;
}

div[class='']{
  text-align: center;
}
  
.Diagnóstico {
  border-top: 1px solid #000000a2;
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 200px;
  padding-right: 200px;
}


#btnlista {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
